body {
  font-family: "NB Akademie Std";
  background: #FFF;
  overflow-x: hidden;
  margin: unset;
}
body main {
  overflow-x: hidden;
  margin: 0 auto;
}
body main section {
  margin: 2rem;
  padding: 2rem 0;
}
@media screen and (min-width: 768px) {
  body main section {
    padding: 3rem 0;
  }
}
@media screen and (min-width: 1366px) {
  body main {
    max-width: 1200px;
  }
  body main section {
    margin: 0;
    padding: 6rem 0;
  }
}
@media screen and (min-width: 1920px) {
  body main {
    max-width: 1400px;
  }
}
body.home {
  background: linear-gradient(204deg, #878787 27%, rgba(255, 255, 255, 0.8897934174) 43%, rgba(255, 255, 255, 0.7469362745) 75%, #878787 87%);
}

body.blog main {
  padding-top: 5rem;
}
body.blog .tags ul {
  padding: 0;
  list-style: none;
  display: flex;
  overflow-x: scroll;
  margin-left: -2rem;
  margin-right: -2rem;
  white-space: nowrap;
  padding-left: 2rem;
}
body.blog .tags ul li {
  margin-right: 1rem;
  background: #00c1c1;
  padding: 0.25rem 0.75rem;
  border-radius: 50px;
  border: 2px solid #00c1c1;
  transition: all 0.5s ease;
}
body.blog .tags ul li a {
  color: #000;
  font-weight: 300;
}
body.blog .tags ul li:hover {
  border: 2px solid #00c1c1;
  background: transparent;
}
body.blog .tags ul li:hover a {
  color: turquoise;
}
body.blog .posts .posts-grid {
  padding-bottom: 3rem;
}
body.blog .posts a.button {
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  body.blog .posts .posts-grid {
    padding-bottom: 5rem;
  }
  body.blog .posts a.button {
    width: 50%;
  }
}
@media screen and (min-width: 1366px) {
  body.blog .page-title {
    margin: 8rem 4rem 6rem;
  }
  body.blog .tags ul {
    flex-wrap: wrap;
    margin-top: 2.5rem;
  }
  body.blog .tags ul li {
    margin-bottom: 1rem;
  }
}

.button {
  cursor: pointer;
  border-radius: 50px;
  padding: 0.75rem 1.25rem;
  position: relative;
  font-weight: 500;
  font-size: 1rem;
  transition: all 0.75s ease;
  border: 2px solid #000;
  text-align: center;
  line-height: 1.5;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}
.button.primary {
  background: #000;
  color: #FFF;
}
.button.primary:hover {
  color: #000;
  background: transparent;
}
.button.secondary {
  background: transparent;
  color: #000;
}
.button.secondary:hover {
  color: #FFF;
  background: #000;
}
.button.tertiary {
  background: transparent;
  color: #FFF;
  border: 2px solid #FFF;
}
.button.tertiary:hover {
  color: #000;
  background: #FFF;
}
.button.turquoise {
  background: #00c1c1;
  color: #FFF;
  border: 2px solid #00c1c1;
}
.button.turquoise:hover {
  color: #00c1c1;
  background: transparent;
}
.button:focus {
  outline: none;
}

.cta.story {
  margin: 0 2rem;
  padding: 3rem 0;
  border-top: 2px solid #000;
}
.cta.story .info {
  text-align: center;
}
.cta.story .info a {
  text-transform: uppercase;
  font-weight: 500;
  color: #000;
  display: inline-block;
  margin-top: 2rem;
  position: relative;
}
.cta.story .info a:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: -10px;
  left: 0;
  opacity: 0;
  transition: all 0.5s ease;
}
.cta.story .info a:hover:after {
  opacity: 1;
  bottom: -5px;
}
.cta.premium .title h3, .cta.bg .title h3 {
  text-align: center;
  text-transform: uppercase;
}
.cta.premium {
  padding: 2rem 0;
  background: #242424;
  color: #FFF;
  -webkit-font-smoothing: antialiased;
}
.cta.premium .info {
  margin: 0 2rem;
}
.cta.premium .info .title h3 {
  text-transform: uppercase;
}
.cta.premium .info p {
  margin: 2rem 0;
}
.cta.premium .info a {
  display: block;
}
.cta.bg .info {
  padding: 2rem 0;
  position: relative;
}
.cta.bg .info .title {
  margin: 0 2rem;
  z-index: 1;
}
.cta.bg .info .title h3 {
  margin: 0 0 2rem;
}
.cta.bg .info .title a {
  display: block;
}
.cta.bg .info .img {
  overflow: hidden;
  background: white;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.cta.bg .info .img img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  object-fit: cover;
  object-position: center;
}
@media screen and (min-width: 768px) {
  .cta.story {
    width: 70%;
    padding: 5rem 0;
    margin: 0 auto;
  }
  .cta.premium {
    padding: 3rem 0;
  }
  .cta.bg .info {
    padding: 4rem 0;
  }
}
@media screen and (min-width: 1366px) {
  .cta.premium .title h3 {
    font-size: 2.5rem;
  }
  .cta.premium .title h5 {
    font-size: 2rem;
  }
  .cta.premium .info {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  .cta.premium .info p {
    flex: 1;
    font-size: 20px;
    margin: 2rem 4rem;
  }
  .cta.bg {
    padding-top: 0;
  }
  .cta.bg .info .title {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
  .cta.bg .info .title h3 {
    margin: 0 4rem 0 0;
    font-size: 2.5rem;
    text-transform: uppercase;
  }
  .cta.bg .info .title a {
    display: inline-block;
    flex: 1;
  }
  .cta.bg .info .img {
    margin: 0;
  }
}
@media screen and (min-width: 1920px) {
  .cta.premium .info {
    max-width: 1400px;
  }
  .cta.premium .info p {
    font-size: 26px;
  }
  .cta.bg .info .title {
    max-width: 1400px;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFF;
  padding: 1rem 2rem;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 2;
  margin: 0 auto;
}
header.blog {
  background: #00c1c1;
}
header.blog .fa-search,
header.blog .fa-shopping-cart {
  color: #000;
  transition: all 0.5s ease;
}
header.blog .fa-search:hover,
header.blog .fa-shopping-cart:hover {
  color: #FFF;
}
header .logo {
  z-index: 4;
  position: fixed;
  top: 40px;
}
header .logo img {
  width: 150px;
}
header nav.header-desktop {
  display: none;
}
header nav .menu {
  text-transform: uppercase;
}
header nav .menu a {
  position: relative;
}
header nav .menu a:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: -10px;
  left: 0;
  opacity: 0;
  transition: all 0.5s ease;
}
header nav .menu a:hover:after {
  opacity: 1;
  bottom: -5px;
}
header .login {
  font-size: 0.8rem;
}
header .fa-search {
  margin-left: 1rem;
}
header .fa-search,
header .fa-shopping-cart {
  color: #000;
  transition: all 0.5s ease;
}
header .fa-search:hover,
header .fa-shopping-cart:hover {
  color: #00c1c1;
}
header input + label {
  position: fixed;
  top: 40px;
  right: 40px;
  height: 20px;
  width: 15px;
  z-index: 5;
}
header input + label span {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  left: 0;
  display: block;
  background: black;
  transition: 0.5s;
}
header input + label span:first-child {
  top: 4px;
}
header input + label span:last-child {
  top: 16px;
}
header label:hover {
  cursor: pointer;
}
header input:checked + label span {
  opacity: 0;
  top: 50%;
}
header input:checked + label span:first-child {
  opacity: 1;
  transform: rotate(405deg);
}
header input:checked + label span:last-child {
  opacity: 1;
  transform: rotate(-405deg);
}
header input ~ nav.header-mobile {
  background: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 3;
  transition: 0.5s;
  transition-delay: 0.5s;
  overflow: hidden;
}
header input ~ nav.header-mobile > ul {
  text-align: center;
  width: 100%;
  list-style: none;
  position: absolute;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header input ~ nav.header-mobile > ul > li {
  opacity: 0;
  transition: 0.5s;
  margin: 3rem;
  transition-delay: 0s;
}
header input ~ nav.header-mobile > ul > li > a {
  display: inline-block;
  color: #000;
}
header input:checked ~ nav.header-mobile {
  height: 100%;
  transition-delay: 0s;
}
header input:checked ~ nav.header-mobile > ul > li {
  opacity: 1;
  transition-delay: 0.3s;
}
@media screen and (min-width: 768px) {
  header .logo {
    position: unset;
  }
  header nav.header-mobile {
    display: none;
  }
  header nav.header-desktop {
    display: flex;
    flex: 1;
  }
  header nav.header-desktop .menu {
    display: flex;
    list-style-type: none;
    padding-left: 0.5rem;
  }
  header nav.header-desktop .menu li {
    margin: 0 1rem;
    font-size: 0.8rem;
    font-weight: 600;
  }
  header nav.header-desktop .menu li a {
    text-decoration: none;
    color: black;
  }
  header nav.header-desktop.blog {
    flex: 1;
  }
  header input,
header label {
    display: none;
  }
}
@media screen and (min-width: 1366px) {
  header nav.header-mobile {
    display: none;
  }
  header nav.header-desktop .menu {
    padding-left: 2rem;
  }
  header nav.header-desktop .menu li {
    margin: 0 2rem;
    font-size: 1rem;
  }
  header .login {
    font-size: 1rem;
  }
}
#swiper-run {
  box-shadow: 0px 9px 37px -18px #827582;
  padding-top: 6rem;
}
#swiper-run.swiper-container .swiper-wrapper {
  height: auto;
}
#swiper-run.swiper-container .swiper-wrapper .swiper-slide {
  height: 60vh;
  background: #FFF;
}
#swiper-run.swiper-container .swiper-wrapper .swiper-slide:hover {
  cursor: -webkit-grab;
}
#swiper-run.swiper-container .swiper-wrapper .swiper-slide img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  object-position: top;
}
#swiper-run.swiper-container .swiper-wrapper .swiper-slide .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
#swiper-run.swiper-container .swiper-wrapper .swiper-slide .text h3 {
  font-size: 2rem;
  margin: 0;
  text-transform: uppercase;
}
#swiper-run.swiper-container .swiper-wrapper .swiper-slide .text p {
  font-size: 1rem;
  line-height: 1.4;
}
#swiper-run.swiper-container .swiper-pagination {
  bottom: 30px;
}
#swiper-run.swiper-container .swiper-pagination .swiper-pagination-bullet {
  background: #FFF;
  margin: 0 15px;
  opacity: 1;
}
#swiper-run.swiper-container .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #000;
}
@media screen and (min-width: 768px) {
  #swiper-run.swiper-container .swiper-wrapper .swiper-slide {
    height: 70vh;
  }
  #swiper-run.swiper-container .swiper-wrapper .swiper-slide .text h3 {
    font-size: 4rem;
    max-width: 80%;
  }
  #swiper-run.swiper-container .swiper-wrapper .swiper-slide .text p {
    font-size: 1.5rem;
    line-height: 1.4;
    max-width: 80%;
  }
}
@media screen and (min-width: 1366px) {
  #swiper-run.swiper-container .swiper-wrapper .swiper-slide .text {
    position: relative;
    left: unset;
    transform: translate(0, -50%);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  #swiper-run.swiper-container .swiper-wrapper .swiper-slide .text h3 {
    font-size: 5rem;
  }
}
@media screen and (min-width: 1920px) {
  #swiper-run.swiper-container .swiper-wrapper .swiper-slide .text {
    max-width: 1400px;
  }
}
@media screen and (min-width: 1366px) {
  #swiper-run {
    padding-top: 5rem;
  }
}

#swiper-testimonials.swiper-container .swiper-wrapper {
  height: auto;
}
#swiper-testimonials.swiper-container .swiper-wrapper .swiper-slide .testimonial {
  margin: 2rem;
  text-align: center;
}
#swiper-testimonials.swiper-container .swiper-wrapper .swiper-slide .testimonial .faces {
  margin: 0.5rem 0;
}
#swiper-testimonials.swiper-container .swiper-wrapper .swiper-slide .testimonial .faces img {
  width: 100px;
  margin: 0 1rem;
}
#swiper-testimonials.swiper-container .swiper-wrapper .swiper-slide .testimonial p {
  margin: 1rem;
  padding-bottom: 3rem;
}
#swiper-testimonials.swiper-container .swiper-wrapper .swiper-slide .testimonial a {
  display: block;
}
@media screen and (min-width: 768px) {
  #swiper-testimonials.swiper-container {
    padding: 3rem 0;
  }
  #swiper-testimonials.swiper-container .swiper-wrapper {
    height: auto;
  }
  #swiper-testimonials.swiper-container .swiper-wrapper .swiper-slide .testimonial {
    width: 70%;
    margin: 0 auto;
  }
  #swiper-testimonials.swiper-container .swiper-wrapper .swiper-slide .testimonial .faces {
    margin: 0 1rem;
  }
  #swiper-testimonials.swiper-container .swiper-wrapper .swiper-slide .testimonial .faces img {
    width: 150px;
  }
  #swiper-testimonials.swiper-container .swiper-wrapper .swiper-slide:hover {
    cursor: -webkit-grab;
  }
}
@media screen and (min-width: 1366px) {
  #swiper-testimonials.swiper-container {
    padding: 6rem 0;
  }
}

#swiper-blog {
  box-shadow: 0px 9px 37px -18px #827582;
}
#swiper-blog.swiper-container .swiper-wrapper {
  height: auto;
}
#swiper-blog.swiper-container .swiper-wrapper .swiper-slide {
  height: 60vh;
  background: #FFF;
}
#swiper-blog.swiper-container .swiper-wrapper .swiper-slide:hover {
  cursor: -webkit-grab;
}
#swiper-blog.swiper-container .swiper-wrapper .swiper-slide img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  object-position: top;
}
#swiper-blog.swiper-container .swiper-wrapper .swiper-slide .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
}
#swiper-blog.swiper-container .swiper-wrapper .swiper-slide .text h3 {
  font-size: 2rem;
  margin: 0;
  text-transform: uppercase;
}
#swiper-blog.swiper-container .swiper-wrapper .swiper-slide .text .rate .fa-star:last-child:before {
  color: transparent;
  -webkit-text-stroke: 1px #000;
}
#swiper-blog.swiper-container .swiper-wrapper .swiper-slide .text p {
  font-size: 1rem;
  line-height: 1.4;
}
#swiper-blog.swiper-container .swiper-pagination {
  bottom: 30px;
}
#swiper-blog.swiper-container .swiper-pagination .swiper-pagination-bullet {
  background: #FFF;
  margin: 0 15px;
  opacity: 1;
}
#swiper-blog.swiper-container .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #000;
}
@media screen and (min-width: 768px) {
  #swiper-blog.swiper-container .swiper-wrapper .swiper-slide {
    height: 70vh;
  }
  #swiper-blog.swiper-container .swiper-wrapper .swiper-slide .text h3 {
    font-size: 3rem;
    max-width: 100%;
  }
  #swiper-blog.swiper-container .swiper-wrapper .swiper-slide .text p {
    font-size: 1.5rem;
    line-height: 1.4;
    max-width: 80%;
  }
}
@media screen and (min-width: 1366px) {
  #swiper-blog.swiper-container .swiper-wrapper .swiper-slide .text {
    position: relative;
    left: unset;
    transform: translate(0, -50%);
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1920px) {
  #swiper-blog.swiper-container .swiper-wrapper .swiper-slide .text {
    max-width: 1400px;
  }
}

#swiper-testimonials .swiper-button-next,
#swiper-testimonials .swiper-button-prev,
#swiper-blog .swiper-button-next,
#swiper-blog .swiper-button-prev {
  color: #000;
}
#swiper-testimonials .swiper-button-next:after,
#swiper-testimonials .swiper-button-prev:after,
#swiper-blog .swiper-button-next:after,
#swiper-blog .swiper-button-prev:after {
  font-size: 1rem;
}
#swiper-testimonials .swiper-button-next,
#swiper-blog .swiper-button-next {
  right: 0;
}
#swiper-testimonials .swiper-button-prev,
#swiper-blog .swiper-button-prev {
  left: 0;
}
@media screen and (min-width: 768px) {
  #swiper-testimonials .swiper-button-next:after,
#swiper-testimonials .swiper-button-prev:after,
#swiper-blog .swiper-button-next:after,
#swiper-blog .swiper-button-prev:after {
    font-size: 1.5rem;
  }
  #swiper-testimonials .swiper-button-next,
#swiper-blog .swiper-button-next {
    right: 2rem;
  }
  #swiper-testimonials .swiper-button-prev,
#swiper-blog .swiper-button-prev {
    left: 2rem;
  }
}

section.app {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-gap: 60px;
}
section.app .info > img {
  width: 75px;
}
section.app .info .apps {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}
section.app .info .apps a {
  width: calc(50% - .5rem);
}
section.app .images img {
  width: 100%;
}
section.app.running .images {
  order: 2;
}
section.app.running .info {
  order: 1;
}
@media screen and (min-width: 768px) {
  section.app {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  section.app .images.training {
    text-align: right;
  }
  section.app .images.running {
    text-align: left;
  }
  section.app.running .images {
    order: unset;
  }
  section.app.running .info {
    order: unset;
  }
}
@media screen and (min-width: 1366px) {
  section.app .info .apps {
    justify-content: flex-start;
  }
  section.app .info .apps a {
    max-width: 200px;
    margin-right: 1rem;
  }
  section.app .images img {
    width: 75%;
  }
}

@font-face {
  font-family: "NB Akademie Std";
  src: url(../fonts/NB-Akademie-Std.otf) format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "NB Akademie Std";
  src: url(../fonts/NB-Akademie-Std-Light.otf) format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "NB Akademie Std";
  src: url(../fonts/NB-Akademie-Std-Medium.otf) format("opentype");
  font-weight: 500;
}
footer {
  background: #FFF;
  padding: 1rem;
  box-shadow: 0px -1px 20px 0px rgba(194, 194, 194, 0.34);
}
footer a {
  color: #000;
}
footer .row {
  display: flex;
}
footer .row:first-child {
  flex-direction: column;
}
footer .row:last-child {
  padding-top: 2rem;
  justify-content: space-between;
  font-weight: 300;
}
footer .row:last-child form {
  margin: unset;
}
footer .row:last-child form select {
  background: none;
  outline: none;
  border: none;
}
footer .menu-footer {
  display: flex;
  flex: 1;
  justify-content: space-between;
  color: #000;
}
footer .menu-footer ul.mobile {
  width: 100%;
  margin: 0 0 3rem;
}
footer .menu-footer ul.mobile li {
  list-style-type: none;
  padding: 1.5rem 0;
  border-bottom: 1px solid #212121;
  position: relative;
}
footer .menu-footer ul.mobile li label {
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
footer .menu-footer ul.mobile li input {
  display: none;
}
footer .menu-footer ul.mobile li input:checked ~ .content {
  margin-bottom: 20px;
  max-height: 1000px;
  transition: all 250ms ease-in-out 0ms;
}
footer .menu-footer ul.mobile li input:checked ~ .open-close-icon .fa-chevron-down {
  transform: rotate(180deg);
  transition: all 0.5s ease;
}
footer .menu-footer ul.mobile li .open-close-icon {
  display: inline-block;
  position: absolute;
  right: 20px;
  transform: translatey(2px);
}
footer .menu-footer ul.mobile li .open-close-icon i {
  position: absolute;
  left: 0;
}
footer .menu-footer ul.mobile li .open-close-icon i.fa-chevron-down {
  transform: rotate(0deg);
  transition: all 0.5s ease;
}
footer .menu-footer ul.mobile li .content {
  height: auto;
  max-height: 0;
  max-width: 300px;
  overflow: hidden;
  transform: translateY(20px);
  transition: all 180ms ease-in-out 0ms;
  display: flex;
  flex-direction: column;
}
footer .menu-footer ul.mobile li .content a {
  margin: 1rem 0;
}
footer .menu-footer ul.mobile li:checked ~ .content {
  max-height: 100px;
  transition: all 150ms ease-in-out;
}
footer .menu-footer ul:not(.mobile) {
  display: none;
}
footer .logos {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
footer .logos img {
  width: 100px;
}
footer .logos .logo img {
  width: 150px;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer h3 {
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 600px) {
  footer .menu-footer {
    margin-right: 2rem;
  }
  footer .menu-footer ul.mobile {
    display: none;
  }
  footer .menu-footer ul:not(.mobile) {
    display: block;
    flex: 33%;
  }
  footer .menu-footer ul:not(.mobile) li {
    font-weight: 300;
    margin: 2rem 0;
  }
  footer .menu-footer ul:not(.mobile) li a {
    color: #000;
    transition: all 0.5s ease;
  }
  footer .menu-footer ul:not(.mobile) li a:hover {
    color: #00c1c1;
  }
}
@media screen and (min-width: 768px) {
  footer {
    padding: 3rem 2rem;
  }
  footer .row:first-child {
    flex-direction: row;
  }
  footer .logos {
    flex-direction: column;
  }
  footer .logos img {
    margin-bottom: 2rem;
  }
}

a {
  text-decoration: none;
}

h1.page-title {
  margin: 4rem 1rem 2rem;
  font-size: 1.5rem;
  text-align: center;
}

h2,
h3 {
  margin: 1rem 0;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}
h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  h1.page-title {
    margin: 6rem 2rem 4rem;
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1366px) {
  h1.page-title {
    margin: 8rem 4rem 6rem;
  }
}
.posts > h2 {
  text-align: center;
}
.posts .posts-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 60px;
  margin-top: 2rem;
}
.posts .posts-grid .post > a {
  color: #000;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.posts .posts-grid .post > a .thumbnail {
  position: relative;
  width: 100%;
  padding-top: 70%;
}
.posts .posts-grid .post > a .thumbnail img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  object-fit: cover;
}
.posts .posts-grid .post > a .post-title {
  text-decoration: none;
  transition: all 0.5s ease;
  font-size: 1.5rem;
  flex: 1;
}
.posts .posts-grid .post > a .author {
  margin: 0;
  flex: 1;
}
.posts .posts-grid .post > a:hover h2 {
  text-decoration: underline;
}
.posts .posts-grid .post.blog {
  padding-bottom: 2rem;
}
.posts .posts-grid .post.blog .post-title,
.posts .posts-grid .post.blog .author,
.posts .posts-grid .post.blog .rate {
  text-align: center;
}
.posts .posts-grid .post.blog .rate .fa-star:last-child:before {
  color: transparent;
  -webkit-text-stroke: 1px #000;
}
.posts .posts-grid .post.blog .read-more {
  height: auto;
  position: relative;
  display: inline-block;
  font-weight: 500;
}
.posts .posts-grid .post.blog .read-more:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: -10px;
  left: 0;
  opacity: 0;
  transition: all 0.5s ease;
}
.posts .posts-grid .post.blog .read-more:hover:after {
  opacity: 1;
  bottom: -5px;
}
@media screen and (min-width: 768px) {
  .posts .posts-grid {
    margin-top: 4rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media screen and (min-width: 1366px) {
  .posts .posts-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

body.post main {
  padding-top: 5rem;
}
body.post .hero {
  position: relative;
}
body.post .hero img {
  width: 100%;
}
body.post .post-info {
  display: flex;
  padding: 0;
  justify-content: space-between;
}
body.post .post-info .date {
  margin: 0;
}
body.post .post-info .share {
  display: flex;
  list-style: none;
  margin: 0;
}
body.post .post-info .share li {
  margin-left: 2rem;
}
body.post .post-info .share li .fa:before {
  color: #000;
  transition: all 0.5s ease;
}
body.post .post-info .share li .fa:hover:before {
  color: #00c1c1;
}
body.post .tags-badges {
  padding: 0;
}
body.post .tags-badges ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
body.post .tags-badges ul li {
  margin-right: 1rem;
  margin-bottom: 1rem;
  background: #00c1c1;
  padding: 0.25rem 0.75rem;
  border-radius: 50px;
  color: #000;
}
body.post .post-content {
  padding: 0;
}
body.post .post-content p a {
  color: #00c1c1;
}
body.post .post-content p a:hover {
  text-decoration: underline;
}
body.post .post-content img {
  width: 100%;
}
body.post .post-content .info {
  background: #00c1c1;
  padding: 1rem;
  margin: 2rem 0;
}
body.post .post-content .info h5 {
  margin: 0;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
body.post .post-content .info h5 i {
  margin-right: 1rem;
}
body.post .post-content h3 {
  margin-top: 2rem;
}
body.post .rate-and-share .rate,
body.post .rate-and-share .share {
  text-align: center;
}
body.post .rate-and-share .rate h2,
body.post .rate-and-share .share h2 {
  margin-bottom: 3rem;
}
body.post .rate-and-share .rate i,
body.post .rate-and-share .share i {
  margin: 0 1rem;
}
body.post .rate-and-share .rate {
  margin-bottom: 2rem;
}
body.post .author {
  margin: 3rem 2rem;
  text-align: center;
  border-top: 2px solid #000;
  padding-top: 3rem;
}
body.post .author p {
  margin: 2rem 0;
}
body.post .author a {
  display: block;
}
body.post .comments .comment {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 3rem 0;
  width: 100%;
  font-size: 0.8rem;
}
body.post .comments .comment img {
  width: 50px;
  height: 50px;
}
body.post .comments .comment .textarea {
  flex: 1;
  margin-left: 1rem;
}
body.post .comments .comment .textarea textarea {
  border: 2px solid #000;
  padding: 1rem;
  outline: none;
  width: 100%;
  font-family: "NB Akademie Std";
}
body.post .comments .comment .textarea input {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-top: 1.5rem;
}
body.post .comments .old-comments .comment {
  display: flex;
  align-items: flex-start;
  padding-bottom: 1.5rem;
  margin: 1rem 0;
}
body.post .comments .old-comments .comment img {
  width: 40px;
  height: 40px;
}
body.post .comments .old-comments .comment .message {
  margin-left: 1rem;
}
body.post .comments .old-comments .comment .message .user,
body.post .comments .old-comments .comment .message .date {
  display: inline-block;
  font-size: 1.25rem;
  margin: 0;
}
body.post .comments .old-comments .comment .message .user {
  font-weight: 500;
  padding-right: 1rem;
}
body.post .comments .old-comments .comment .message .date {
  font-weight: 300;
  padding-top: 0.5rem;
  font-size: 1rem;
}
body.post .comments .old-comments .comment .message .interactions a {
  position: relative;
  color: #00c1c1;
  transition: all 0.5s ease;
}
body.post .comments .old-comments .comment .message .interactions a:hover {
  color: #000;
}
body.post .comments .old-comments .comment .message .interactions a:first-child {
  margin-right: 1rem;
}
body.post .comments .old-comments .comment.answer img {
  width: 30px;
  height: 30px;
}
body.post .comments .old-comments .comment.answer .message .user {
  font-size: 1rem;
}
body.post .comments .old-comments .comment.answer .message .date {
  font-size: 0.8rem;
}
body.post .comments .old-comments .comment.answer .message p {
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  body.post .rate-and-share {
    display: flex;
    justify-content: space-around;
  }
  body.post .comments .comment {
    margin-top: 3rem;
  }
  body.post .comments .comment img {
    width: initial;
    height: initial;
  }
  body.post .comments .comment .textarea {
    flex: 1;
    margin-left: 2rem;
  }
  body.post .comments .comment .textarea input {
    width: 300px;
  }
  body.post .comments .old-comments {
    padding: 2rem;
  }
  body.post .comments .old-comments .comment img {
    width: 75px;
    height: 75px;
  }
  body.post .comments .old-comments .comment .message {
    margin-left: 2rem;
  }
  body.post .comments .old-comments .comment .message .date {
    padding-left: 1rem;
    padding-top: 0;
    border-left: 1px solid #000;
  }
  body.post .comments .old-comments .comment.answer {
    margin-left: 1.5rem;
  }
  body.post .comments .old-comments .comment.answer img {
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 1366px) {
  body.post .post-info,
body.post .tags-badges {
    margin-top: 3rem;
  }
  body.post .post-content img {
    margin: 2rem 0;
  }
  body.post .post-content .info {
    padding: 2rem;
  }
  body.post .author {
    margin: 0 auto;
    width: 70%;
  }
}

.social {
  text-align: center;
  padding: 4rem 2;
  margin: 0 2rem;
}
.social .social-icons {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 0;
}
.social .social-icons li .fa:before {
  color: #000;
  transition: all 0.5s ease;
}
.social .social-icons li .fa:hover:before {
  color: #00c1c1;
}
@media screen and (min-width: 768px) {
  .social {
    padding: 6rem 0;
  }
  .social .social-icons {
    justify-content: center;
  }
  .social .social-icons li {
    margin: 0 2rem;
  }
}

/*# sourceMappingURL=main.css.map */
