.button {
  cursor: pointer;
  border-radius: 50px;
  padding: .75rem 1.25rem;
  position: relative;
  font-weight: $font-weight-medium;
  font-size: 1rem;
  transition: all .75s ease;
  border: 2px solid $black;
  text-align: center;
  line-height: 1.5;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  &.primary {
    background: $black;
    color: $white;
    &:hover {
      color: $black;
      background: transparent;
    }
  }
  &.secondary {
    background: transparent;
    color: $black;
    &:hover {
      color: $white;
      background: $black;
    }
  }
  &.tertiary {
    background: transparent;
    color: $white;
    border: 2px solid $white;

    &:hover {
      color: $black;
      background: $white;
    }
  }
  &.turquoise {
    background: $turquoise;
    color: $white;
    border: 2px solid $turquoise;
    &:hover {
      color: $turquoise;
      background: transparent;
    }
  }
  
  &:focus {
    outline: none;
  }
}