.cta {
  &.story {
    margin: 0 2rem;
    padding: 3rem 0;
    border-top: 2px solid $black;
    .info {
      text-align: center;
      a {
        text-transform: uppercase;
        font-weight: $font-weight-medium;
        color: $black;
        display: inline-block;
        margin-top: 2rem;
        position: relative;
        &:after {
          content: '';
          width: 100%;
          height: 2px;
          background: $black;
          position: absolute;
          bottom: -10px;
          left: 0;
          opacity: 0;
          transition: all .5s ease;
        }
        &:hover {
          &:after {
            opacity: 1;
            bottom: -5px;
          }
        }
      }
      
    }
  }
 
  &.premium,
  &.bg {
    .title {
      h3 {
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
  &.premium {
    padding: 2rem 0;
    background: $darkgray;
    color: $white;
    -webkit-font-smoothing: antialiased;
    .info {
      margin: 0 2rem;
      .title {
        h3 {
          text-transform: uppercase;
        }
      }
      p {
        margin: 2rem 0;
      }
      a {
        display: block

      }
    }
  }

  &.bg {
    .info {
      padding: 2rem 0;
      position: relative;
      .title {
    
        margin: 0 2rem;
        z-index: 1;
        h3 {
        margin: 0 0 2rem;

        }
        a {
          display: block;
        }
      }
      .img {
        overflow: hidden;
        background: white;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        img {
          width: 100%;
          height: 100%;
          opacity: 0.5;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
  @media screen and (min-width: $breakpoint-md) {
      &.story {
        width: 70%;
        padding: 5rem 0;
        margin: 0 auto;
     }
      &.premium {
        padding: 3rem 0;
      }
      &.bg {
        .info {
          padding: 4rem 0;
        }
      }
      
  }

  @media screen and (min-width: $breakpoint-lg) {
    &.premium{
      .title {
        h3 {
          font-size: 2.5rem
        }
        h5 {
          font-size: 2rem
        }
      }
      .info {
          display: flex;
          align-items: center;
          max-width: 1200px;
          margin: 0 auto;
          p {
            flex: 1;
            font-size: 20px;
            margin: 2rem 4rem;
          }
      }
    }

    &.bg {
      padding-top: 0;
      .info {
        .title {
          max-width: 1200px;
          margin: 0 auto;
          text-align: center;
          display: flex;
          justify-content: space-between;
          h3 {
            margin: 0 4rem 0 0;
            font-size: 2.5rem;
            text-transform: uppercase;
          }
          a {
            display: inline-block;
            flex: 1;
          }
        }
        .img {
          margin: 0;
        }
      }
    }
  }
  @media screen and (min-width: $breakpoint-xl) {
    &.premium {
      
      .info {
          max-width: 1400px;
          p {
            font-size: 26px;
          }
      }
    }

    &.bg{
      .info {
        .title {
          max-width: 1400px;
        }
      }
    }
  }
  
}