header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $white;
  padding: 1rem 2rem;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 2;
  margin: 0 auto;
  &.blog {
    background: $turquoise;
    .fa-search,
    .fa-shopping-cart {
      color: $black;
      transition: all .5s ease;
      &:hover {
        color: $white;
      }
    }
  }
  .logo {
    z-index: 4;
    position: fixed;
    top: 40px;
    // left: 20px;
    img {
      width: 150px;
    }
  }
  nav.header-desktop {
    display: none;
  }
  nav {
    .menu {
      text-transform: uppercase;
      a {
        position: relative;
        &:after {
          content: '';
          width: 100%;
          height: 2px;
          background: $black;
          position: absolute;
          bottom: -10px;
          left: 0;
          opacity: 0;
          transition: all .5s ease;
        }
        &:hover {
          &:after {
            opacity: 1;
            bottom: -5px;
          }
        }
      }
    }
  }
  .login {
    font-size: .8rem;
  }
  
  .fa-search {
    margin-left: 1rem;
  }
  .fa-search,
  .fa-shopping-cart {
    color: $black;
    transition: all .5s ease;
    &:hover {
      color: $turquoise;
    }
  }
  input + label {
    position: fixed;
    top: 40px;
    right: 40px;
    height: 20px;
    width: 15px; 
    z-index: 5;
    span {
      position: absolute;
      width: 100%;
      height: 2px;
      top: 50%;
      margin-top: -1px;
      left: 0;
      display: block;
      background: black;
      transition: .5s;
    }
    span:first-child {
      top: 4px; 
    }
    span:last-child {
      top: 16px; 
    }      
  }
  label:hover {
    cursor: pointer;
  }
  input:checked + label { 
    span {
      opacity: 0;
      top: 50%;
    }
    span:first-child {
      opacity: 1;
      transform: rotate(405deg);
    }
    span:last-child {
      opacity: 1;
      transform: rotate(-405deg);
    }
  }
  input ~ nav.header-mobile {
    background: $white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 3;
    transition: .5s;
    transition-delay: .5s;
    overflow: hidden;
    > ul {
      text-align: center;
      width: 100%;
      list-style: none;
      position: absolute;
      padding: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      > li {
        opacity: 0;
        transition: .5s;
        margin: 3rem;
        transition-delay: 0s;
        > a {
          display: inline-block;
          color: $black;
        }
      }
    }
  }
  input:checked ~ nav.header-mobile { 
    height: 100%;
    transition-delay: 0s;
    > ul {
      > li {
        opacity: 1;
        transition-delay: .3s;
      }
    }
  } 

  @media screen and (min-width: $breakpoint-md) {
    // max-width: 750px;
    .logo {
      position: unset;
    }
    nav {
      &.header-mobile {
        display: none;
      }
      &.header-desktop {
        display: flex;
        flex: 1;
        .menu {
          display: flex;
          list-style-type: none;
          padding-left: .5rem;
          li {
            margin: 0 1rem;
            font-size: .8rem;
            font-weight: 600;
            a {
              text-decoration: none;
              color: black;
            }
          }
        }
        &.blog {
          flex: 1;
          // .menu {
          //   padding: 0;
          
          // }
        }
      }
    }
    input,
    label {
      display: none;
    }
  }
  @media screen and (min-width: $breakpoint-lg) {
    // max-width: 1200px;
    nav {
      &.header-mobile {
        display: none;
      }
      &.header-desktop {
      
        .menu {
          padding-left: 2rem;

          li {
            margin: 0 2rem;
            font-size: 1rem;

          }
        }
      }
    }
    .login {
      font-size: 1rem
    }
  }
  @media screen and (min-width: $breakpoint-xl) {
    // max-width: 1400px;
  }
}