.social {
  text-align: center;
  padding: 4rem 2;
  margin: 0 2rem;
  .social-icons {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 2rem 0 0;
    li {
      .fa {
        &:before {
          color: $black;
          transition: all .5s ease;
        }
        &:hover {
          &:before {
            color: $turquoise;
          }
        }
      }
    }

    
  }
  @media screen and (min-width: $breakpoint-md) {
    padding: 6rem 0;
    .social-icons {
      justify-content: center;
      li {
        margin: 0 2rem;
      }
    }
    
  }
}
