#swiper-run {
  &.swiper-container {
    .swiper-wrapper {
      height: auto;
      .swiper-slide { 
        height: 60vh;
  
        img {
          position: absolute;
          z-index: -1;
          width: 100%;
          height: 100%;
          object-fit: cover;
          opacity: .5;
          object-position: top;
        }
        .text {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 80%;        
          h3 {
            font-size: 2rem;
            margin: 0;
            text-transform: uppercase;
          }
          p {
            font-size: 1rem;  
            line-height: 1.4;
          }
        }
      }
    }
    
    .swiper-pagination {
      bottom: 30px;
      .swiper-pagination-bullet {
        background: $white;
        margin: 0 15px;
        opacity: 1;
        &.swiper-pagination-bullet-active {
          background: $black;
        }
      }
    }
    .swiper-button-next,
    .swiper-button-prev {
      color: $black;
      &:after {
        font-size: 1rem;
      }
    }
    .swiper-button-next {
      right: 0;
    }
    .swiper-button-prev {
      left: 0;
    }
  
    @media screen and (min-width: $breakpoint-md) {
      .swiper-wrapper {
        .swiper-slide { 
          height: 70vh;
          .text {
            top: 5rem;
            left: 6rem;
            width: 50%;
            transform: none;        
            h3 {
              font-size: 4rem;
            }
            p {
              font-size: 1.5rem;  
              line-height: 1.4;
            }
          }
        }
      }
      .swiper-button-next,
      .swiper-button-prev {
        &:after {
          font-size: 1.5rem;
        }
      }
      .swiper-button-next {
        right: 20px;
      }
      .swiper-button-prev {
        left: 20px;
      }
    }
    @media screen and (min-width: $breakpoint-lg) {
      .swiper-wrapper {
        .swiper-slide { 
        
          .text {
              
            h3 {
              font-size: 5rem;
            }
           
          }
        }
      }
    }
    
  }
}
