a {
  text-decoration: none
}

h2,
h3{
  margin: 1rem 0;
}
h2 {
  font-size: 2rem;
  font-weight: $font-weight-medium;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
  font-weight: $font-weight-light;
  margin: 0;
}

p {
  font-size: 16px;
  font-weight: $font-weight-light;
  line-height: 1.5;
}