a {
  text-decoration: none
}
h1 {
  &.page-title {
    margin: 4rem 1rem 2rem;
    font-size: 1.5rem;
    text-align: center;
  }
}
h2,
h3{
  margin: 1rem 0;
}
h2 {
  font-size: 2rem;
  font-weight: $font-weight-medium;
  &.page-title {

  }
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
  font-weight: $font-weight-light;
  margin: 0;
}

p {
  font-size: 16px;
  font-weight: $font-weight-light;
  line-height: 1.5;
}

@media screen and (min-width: $breakpoint-md) {
  h1 {
    &.page-title {
      margin: 6rem 2rem 4rem;
      font-size: 2.5rem;
    }
  }
}

@media screen and (min-width: $breakpoint-lg) {
  h1 {
    &.page-title {
      margin: 8rem 4rem 6rem;
    }
  }
}