$font-family-base: 'NB Akademie Std';

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;

$black: #000;
$turquoise: #007681;
$red: #F90D0D;
$blue: #007AFF;
$yellow: #F4E52A;
$orange: #F27019;
$green: #06CE35;
$darkgray: #9E9B9B;
$lightgray: #EDEDED;
$white: #FFF;

$border-base: .03rem solid $black;

$breakpoint-xs: 360px;
$breakpoint-sm: 600px;
$breakpoint-md: 768px;
$breakpoint-lg: 1366px;
$breakpoint-xl: 1920px;
