$font-family-base: 'NB Akademie Std';

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;

$black: #000;
$turquoise: #00c1c1;
$darkgray: #242424;
$white: #FFF;

$border-base: .03rem solid $black;

$breakpoint-xs: 360px;
$breakpoint-sm: 600px;
$breakpoint-md: 768px;
$breakpoint-lg: 1366px;
$breakpoint-xl: 1920px;
